@model LvhASPNETLesson10.Models.LvhMonHoc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LvhMonHoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LvhTenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LvhTenMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LvhSotiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LvhSotiet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LvhMaMH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
